@model IEnumerable<ForkliftProject3.Models.Checklists>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Completed Checklists</h2>

<p>
    <a asp-action="Create">Create New Checklist</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Completed By
            </th>
            <th>
                Completion Date
            </th>
            <th>
                Forklift Vin Number
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompletedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TodaysDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VinNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ChecklistId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ChecklistId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ChecklistId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
